*{
	padding: 0;
	margin: 0;
}

.nav-hotline .nav-link {
	color: #fff;
	padding: 9px 10px;
    font-size: 14px;
}

.menu-li:hover{
	background: white;
	transition: 1s;
}

.menu-li a:hover{
		color: black;
}

.heart-1:hover {
	color: #ec293c;
	transition: 0.5s;
}

.section-hotline {
	display: none;
}

.page-nav {
	padding: 0;
	align-items: baseline;
}

.page-nav img {
	width: 100px;
    margin-right: 85px;
    margin-left: 20px;
}

.input-group .input-group-prepend .search-1 {
	background: black;
    color: #fff;
}

.nav-item-1 .nav-item:hover {
	background-color: #ec293c;
}

.nav-item-1 .nav-item .nav-link:hover {
	color: white;
}

.carousel-indicators .slide-icon {
	border-radius: 15px;
    height: 15px;
    width: 15px;
    border: 15px;
    background: gray;
}

div .text1-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .img-gosto{
    height: 358px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
.section-hotline {
	justify-content: center;
	display: none;
}
}

.form-login {
	display: flex;
}

section .bitis-boys {
	width: 220px;
    height: 28px;
    background: #034ea1;
    color: white;
    margin: 24px auto;
}

section .bitis-boys p {
	justify-content: center;
    display: flex;
    margin: 0;
}

.name_bitis {
	overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space: nowrap;
}

.name_bitis a {
	font-size: 14px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.product {
	position: relative;
	padding: 0;
}

.product .img-new {
	position: absolute;
	top: 0;
}

.product .img-gift {
	display: block;
    position: absolute;
    top: 2px;
    right: 18px;
}

.product hr {
	margin: 0;
}

.product .product_size_box > p {
	font-size: 12px;
	color: gray;
	margin: 10px 0;
}

.product .gia-giay {
	margin: 0;
    color: #EE5959;
}

.product u {
	font-size: 19px;
    padding-left: 5px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.section-hotline {
	display: block;
}

.section-hotline .nav-hotline {
	justify-content: center;
	display: flex;
}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.img-gift:hover {
  animation: shake 1.5s; 

  animation-iteration-count: infinite; 
}

.img-new:hover {
  animation: shake 1.5s; 

  animation-iteration-count: infinite; 
}

.product .product_size_box .size-box {
	position: absolute;
	top: 0;
    display: none;
}

.product_size_box {
	position: relative;
}

.product:hover .size-box {
	display: block;
}

.product:hover .size-bitis {
	display: none;
}

.product_size_box {
	height: 30px;
}

.product button {
	position: absolute;
	display: none;
	padding: 6px 84px;
    background: #f72b3f;
    border: 0;
    color: white;
    margin-top: 12px;
    height: 40px;
}


div.div-item:hover button {
	display: block;
	color: white !important;

}
div.product:hover a.btn-a{
	color: white !important;
	text-decoration: none;
}

section .gosto {
	width: 220px;
    height: 28px;
    color: white;
    margin: 24px auto;
}

nav.nav-betrai {
	align-items: flex-end;
}

nav .img_betrai {
	text-align: center;
}

nav .img_betrai p {
	font-size: 14px;
}

.fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	width: 100%;
}

.img-footer img {
	transition: all 1s ease;
	width: 191px;
/* 	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease; */
}

section.img-footer:hover img {
	transform: scale(1.5);
/* -webkit-transform: scale(1.5,1.5);
-moz-transform: scale(1.5,1.5);
-o-transform: scale(1.5,1.5);
-ms-transform: scale(1.5,1.5); */
}

.dk-email p {
	font-size: 14px;
	font-weight: 300;
    margin: 0;
}

.dk-email input {
	width: 430px;
}

.dk-email button {
	width: 200px;
    border: 1px solid #f72b3f;
    background: #f72b3f;
    color: white;
    padding: 2px 0;
}

.dk-email button:hover {
	background-color: white;
	color: #f72b3f;
	transition: 0.6s;
}

section .footer-top h3 {
	font-weight: 500;
	color: #000000;
	font-size: 18px;
}

section .footer-top a {
	color: #666666;;
	text-decoration: none;
	font-weight: 100;
}

section .footer-top a:hover {
	color: #f72b3f;
	transition: 0.5s;
}

section .footer-top .img_logo_footer img{
	width: 165px;
	margin-top: -30px;
}

section .footer-top .lien_he p{
	font-weight: 400;
    font-size: 14px;
    margin: 0;
}

section .footer-bottom a {
	text-decoration: none;
	color: white;
	padding: 0 10px;
	font-weight: 300;
}

section .footer-bottom li {
	list-style: none;
}

section .footer-bottom .text_end {
	font-size: 12px;
    font-weight: 100;
    color: #ffff;
    text-align: center;
} 